<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Funnel+Display:wght@300..800&family=Gravitas+One&family=Playwrite+CU+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Funnel+Display:wght@300..800&family=Gravitas+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+CU+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>
<body>
    <header class="nevbar"> 
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo"height="200px" width="200px">
        <div>
            <input type="text" id="searchInput" placeholder="Search you want ......" class="search">
        </div>
        <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('menu') }}" class="active">Menu</a></li>
            <li><a href="/cart">Cart ({{ cart_count }})</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>

        </ul>

        <a href="{{ url_for('profile') }}" class="contact-btn">Profile</a>
    </header>

    <h1>Coffee & Espresso</h1>

    <div class="product-grid">

        <div class="card">
            <img src="{{ url_for('static', filename='images/coffee2.png') }}"height="400px" width="200px" class="e1">
            <div class="name">Espresso</div>
            <div class="price">₹120</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Espresso">
                    <input type="hidden" name="price" value="120">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/coffee3.png') }}"height="400px" width="200px" class="e2">
            <div class="name">Cappuccino</div>
            <div class="price">₹180</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Cappuccino">
                    <input type="hidden" name="price" value="180">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/1st.png') }}"height="400px" width="200px" class="e">
            <div class="name">Love and Lattes Special Rose Latte</div>
            <div class="price">₹250</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Love andLattes Special Rose Latte">
                    <input type="hidden" name="price" value="250">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/coffee6.png') }}"height="300px" width="200px" class="e5">
            <div class="name">Caramel Macchiato</div>
            <div class="price">₹220</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Caramel Macchiato">
                    <input type="hidden" name="price" value="220">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/coffee5.png') }}"height="300px" width="200px" class="e4">
            <div class="name">Mocha Latte</div>
            <div class="price">₹210</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Mocha Latte">
                    <input type="hidden" name="price" value="210">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

    </div>

    <h1>Italian Breakfast</h1>

    <div class="product-grid">

        <div class="card">
            <img src="{{ url_for('static', filename='images/Cornetto.png') }}"height="400px" width="200px" class="">
            <div class="name">Cornetto (Italian Croissant)</div>
            <div class="price">₹150</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Cornetto (Italian Croissant)">
                    <input type="hidden" name="price" value="150">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Ricotta Pancakes.png') }}"height="400px" width="200px" class="e2">
            <div class="name">Ricotta Pancakes</div>
            <div class="price">₹240</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Ricotta Pancakes">
                    <input type="hidden" name="price" value="240">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Italian Toast with Mascarpone.png') }}"height="400px" width="200px" class="e">
            <div class="name">Italian Toast with Mascarpone</div>
            <div class="price">₹200</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Italian Toast with Mascarpone">
                    <input type="hidden" name="price" value="200">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Frittata (Italian Omelette).png') }}"height="300px" width="200px" class="e5">
            <div class="name">Frittata (Italian Omelette)</div>
            <div class="price">₹220</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Frittata (Italian Omelette)">
                    <input type="hidden" name="price" value="220">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Ciabatta Breakfast Sandwich.png') }}"height="300px" width="200px" class="e4">
            <div class="name">Ciabatta Breakfast Sandwich</div>
            <div class="price">₹260</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Ciabatta Breakfast Sandwich">
                    <input type="hidden" name="price" value="260">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

    </div>

    <h1>Italian Main Dishes</h1>

    <div class="product-grid">

        <div class="card">
            <img src="{{ url_for('static', filename='images/Spaghetti Aglio e Olio.png') }}"height="400px" width="200px" class="">
            <div class="name">Spaghetti Aglio e Olio</div>
            <div class="price">₹280</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Spaghetti Aglio e Olio">
                    <input type="hidden" name="price" value="280">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Penne Arrabbiata.png') }}"height="400px" width="200px" class="e2">
            <div class="name">Penne Arrabbiata</div>
            <div class="price">₹300</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Penne Arrabbiata">
                    <input type="hidden" name="price" value="300">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Fettuccine Alfredo.png') }}"height="400px" width="200px" class="e">
            <div class="name">Fettuccine Alfredo</div>
            <div class="price">₹340</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Fettuccine Alfredo">
                    <input type="hidden" name="price" value="340">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Lasagna.png') }}"height="300px" width="200px" class="e5">
            <div class="name">Lasagna</div>
            <div class="price">₹380</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Lasagna">
                    <input type="hidden" name="price" value="380">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Pasta Primavera.png') }}"height="300px" width="200px" class="e4">
            <div class="name">Pasta Primavera</div>
            <div class="price">₹320</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Pasta Primavera">
                    <input type="hidden" name="price" value="320">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

    </div>

     <h1>Italian Snacks</h1>

    <div class="product-grid">

        <div class="card">
            <img src="{{ url_for('static', filename='images/Margherita Pizza.png') }}"height="400px" width="200px" class="">
            <div class="name">Margherita Pizza</div>
            <div class="price">₹320</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Margherita Pizza">
                    <input type="hidden" name="price" value="320">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Garlic Bread with Cheese.png') }}"height="400px" width="200px" class="e2">
            <div class="name">Garlic Bread with Cheese</div>
            <div class="price">₹180</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Garlic Bread with Cheese">
                    <input type="hidden" name="price" value="180">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Bruschetta.png') }}"height="400px" width="200px" class="e">
            <div class="name">Bruschetta</div>
            <div class="price">₹210</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Bruschetta">
                    <input type="hidden" name="price" value="210">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Caprese Salad.png') }}"height="300px" width="200px" class="e5">
            <div class="name">Caprese Salad</div>
            <div class="price">₹230</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Caprese Salad">
                    <input type="hidden" name="price" value="230">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Mozzarella Sticks.png') }}"height="300px" width="200px" class="e4">
            <div class="name">Mozzarella Sticks</div>
            <div class="price">₹240</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Mozzarella Sticks">
                    <input type="hidden" name="price" value="240">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

    </div>

    <h1>Desserts</h1>

    <div class="product-grid">

        <div class="card">
            <img src="{{ url_for('static', filename='images/Tiramisu.png') }}"height="400px" width="200px" class="">
            <div class="name">Tiramisu</div>
            <div class="price">₹260</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Tiramisu">
                    <input type="hidden" name="price" value="260">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Panna Cotta.png') }}"height="400px" width="200px" class="e2">
            <div class="name">Panna Cotta</div>
            <div class="price">₹220</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Panna Cotta">
                    <input type="hidden" name="price" value="220">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Chocolate Cannoli.png') }}"height="400px" width="200px" class="e">
            <div class="name">Chocolate Cannoli</div>
            <div class="price">₹230</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Chocolate Cannoli">
                    <input type="hidden" name="price" value="230">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Gelato (Italian Ice Cream).png') }}"height="300px" width="200px" class="e5">
            <div class="name">Gelato (Italian Ice Cream)</div>
            <div class="price">₹200</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Gelato (Italian Ice Cream)">
                    <input type="hidden" name="price" value="200">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Affogato Dessert.png') }}"height="300px" width="200px" class="e4">
            <div class="name">Affogato Dessert</div>
            <div class="price">₹210</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Affogato Dessert">
                    <input type="hidden" name="price" value="210">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

    </div>

    <h1>Cold Beverages</h1>

    <div class="product-grid">

        <div class="card">
            <img src="{{ url_for('static', filename='images/Italian Iced Latte.png') }}"height="400px" width="200px" class="">
            <div class="name">Italian Iced Latte</div>
            <div class="price">₹200</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Italian Iced Latte">
                    <input type="hidden" name="price" value="200">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Affogato.png') }}"height="400px" width="200px" class="e2">
            <div class="name">Affogato</div>
            <div class="price">₹210</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Affogato">
                    <input type="hidden" name="price" value="210">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Italian Lemon Soda.png') }}"height="400px" width="200px" class="e">
            <div class="name">Italian Lemon Soda</div>
            <div class="price">₹160</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Italian Lemon Soda">
                    <input type="hidden" name="price" value="160">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Iced Caramel Latte.png') }}"height="300px" width="200px" class="e5">
            <div class="name">Iced Caramel Latte</div>
            <div class="price">₹220</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Iced Caramel Latte">
                    <input type="hidden" name="price" value="220">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/Strawberry Italian Soda.png') }}"height="300px" width="200px" class="e4">
            <div class="name">Strawberry Italian Soda</div>
            <div class="price">₹190</div>
            <div class="button-row">
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="item" value="Strawberry Italian Soda">
                    <input type="hidden" name="price" value="190">
                    <button type="submit" class="btn-blue">Add to Cart</button>
                </form>
            </div>
        </div>

    </div>

</body>

<footer>
    <img src="{{ url_for('static', filename='images/footer.png') }}"alt="footer" class="footer1" width="1500px">
</footer>

</html>